"{{ postgresql_superuser }}" "{{ postgresql_superuser_password }}"
"{{ postgresql_replication_user }}" "{{ postgresql_replication_password }}"
{% if postgresql_admin_user is defined and postgresql_admin_password is defined %}
"{{ postgresql_admin_user }}" "{{ postgresql_admin_password }}"
{% endif %}